

.wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}

.grid {
    background: fuchsia;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px;
}

.in_grid {
    background: darkgray;
    color: aliceblue;
    outline: 2px solid black;
}

.grid2 {
    background: fuchsia;
    grid-template-columns: 2fr 1fr;
    display: grid;

}

.in_grid2 {
    background: rgb(240, 145, 145);
    color: aliceblue;
    outline: 2px solid black;
    height: 50px;
}

.in_grid2- {
    background: rgb(245, 101, 101);
    color: aliceblue;
    outline: 2px solid black;

}

.grid_3 {
    background: fuchsia;
    grid-template-columns: 3fr 6fr;
    display: grid;
    grid-template-rows: 150px;

}

.in1_grid_3 {
    background: rgb(144, 236, 119);
    color: aliceblue;
    outline: 2px solid black;

}

.in2_grid_3 {
    background: rgb(84, 229, 45);
    color: aliceblue;
    outline: 2px solid black;

    display: inline-grid;
}

.grid_levii {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.levie {
    background: firebrick;
    outline: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.levie2 {
    background: rgb(255, 0, 0);
    outline: 2px solid black;
}

.levie3 {
    background: rgb(87, 2, 2);
    outline: 2px solid black;
}

.grid_4 {
    grid-template-columns: 6fr 3fr;
    display: grid;
    grid-template-rows: 150px;
}
